.backimg{
    width: 100%;
    height: 600px;
    position: relative;
}
.display-middle{
    background-color: #FFFFFF;
    width: 1000px;
    height: 300px;
    position: absolute;
    top: 200px;
    left: 160px;

}
.nav-bar{
    background-color: #000000;
}
.nav-bar li{
    padding: 10px;
}
.nav a{
    text-decoration: none;
    color: #FFFFFF;
}
.nav span{
    padding: 0px 4px;
}
h3{
    padding:20px 0px;
}
.inputfield{
    display: flex;
    padding: 10px;
}
.inputfield input{
 margin: 10px;
 padding: 10px 50px;
}
.btn1{
    padding: 10px;
}